/* Footer styling */
footer {
    /* background-color: rgb(255,255,255); */
    text-align: center;
    padding: 25px 0;
    color: rgb(5, 23, 41);
    border-top: 1px solid white;
}


.footer-top {
    max-width: 100%;
    /* max-width: 1155px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 135px;
}

.footer-logo img {
    align-items: center;
    
    /* max-width: 5000px; */
    max-height: 75px;
}

.footer-social-icons {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
}

.footer-social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #00182a, #112240);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.footer-social-icons a:hover {
    transform: scale(1.05);
}


.footer-social-icons img {
    align-items: center;
    /* max-width: 1155px;
    max-height: 1000px; */
    text-decoration: none;
}


.footer-content {
    /* max-width: 1155px; */
    margin: auto;
    margin-top: 25px;
    padding: 0 140px;
    text-align: left;
}

.footer-content h3 {
    margin-bottom: 10px;
    font-size: 1em;
}

.footer-content p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 0.8em;
}

.footer-bottom p {
    padding: 40px 0;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 0.8em;
}

.socials {
    list-style: none;
    padding: 0;

    /* text-align: center; */
}

.socials li {
    color: white;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 0.8em;
    display: inline;
    margin-right: 10px;
}



.socials a {
    color: white;
    text-decoration: none;
}



.socials a:hover {
    color: gray;
    transition: 0.3s;
}


@media (max-width: 500px) {
    .footer-top {
        flex-direction: column;
        /* Stack elements vertically */

        align-items: flex-start;
        /* Align items to the start of the flex container */

        padding: 0 20px;
        /* Adjust padding as needed */
    }

    .footer-social-icons {
        margin-top: 1rem;
        /* Add some margin on top for spacing */

        justify-content: flex-start;
        /* Align social icons to the start */
    }

    .socials li {
        display: block;
        /* Each social link will take the full width */

        margin-right: 0;
        /* Remove the right margin */
    }

    .footer-content {
        padding: 0 20px;
        /* Adjust footer content padding */
    }

    .footer-bottom p {
        padding: 20px 0;
        /* Adjust bottom paragraph padding */
    }
}