/* body {
    background: #111;
} */

html,
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background: #00182a;
}

.background {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background: #00182a;
  /* background: -webkit-linear-gradient(to right, #00182a, #16222A);   */
  /* background: linear-gradient(to right, #00182a, #16222A);  */
}

