html, body {
	overflow-x: hidden;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

.wrapper {
	/* position: absolute; */
    width: 100%;
    height: 100%;
    background: #00182a;  
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	background: #00182a; 
	/* background: -webkit-linear-gradient(to right, #00182a, #16222A);  */
	/* background: linear-gradient(to right, #00182a, #16222A);  */
	
	background-size: cover;
	min-width: 100%;
	background-position: center center;
	color: #fff;
	overflow: hidden;
	/* position:relative; */
}

h3 {
	/* text-align: center; */
}

p {
	/* text-align: center; */
}


.about-us{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}
.who-we-are{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.who-we-are span{
	width: 70%;
	align-items: center;
	text-align: center;
}
.cards{
	display: flex;
	justify-content: center;
	/* align-items: center; */
	margin:10px;
	flex-wrap: wrap;
}

.cards .card{
	width: 20rem;
	margin: 20px;
	padding-left: 2rem;
	padding-right: 50px;
}
.card p{
	font-size: 14px;
	color: #8aa0ac;
}

span {
	color: #8aa0ac;
}


.active{
	border-bottom: 1px solid #fff;
}

.curriculum {
	text-align: center;
	padding-top: 4rem;
}

li {
	color: #8aa0ac;
	list-style-type: none;
	padding: .4rem;
}
ul {
	/* padding-right: */
	transform: translate(-2.3rem, 0);
	align-items: center;
}

@media (max-width: 500px) {

	.who-we-are span{
		width: 80%;
		align-items: center;
		text-align: center;
	}

	

	/* .curriculum {
		text-align: left;
	}

	.who-we-are span{
		align-items: left;
		text-align: left;
	}

	h4 {
		align-items: left;
		text-align: left;
	}

	.who-we-are {
		align-items: left;
		text-align: left;
	}

	.about-us{
		display: flex;
		justify-content: left;
		align-items: left;
		width: 100%;
		flex-direction: column;
	} */

}