body {
  width: 100%;
}

.intro {
  padding: 5rem;
  padding-bottom: 6rem;
  width: 100%;
  background: #00182a;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.intro-section {
  display: flex; /* Use flexbox to align items */
  align-items: flex-start; /* Start items at the beginning */
  justify-content: center; /* Align items horizontally in the middle */
  height: 100vh; /* 100% of the viewport height */
  padding-top: 15vh; /* Push content down by 40% of the viewport height */
}

.title {
  font-size: 6vw;
  color: white;
  margin-bottom: 0;
}

.header {
  font-size: 3vw;
  color: #8aa0ac;
  margin-top: 10px;
  margin-bottom: 0;
}

.desc_club {
  font-size: 1.7vw;
  color: #8aa0ac;
  line-height: 130%;
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 10px;
}

.scroll-container {
  cursor: pointer;
  position: absolute;
  bottom: 30px; /* Increasing bottom padding for space between text and screen bottom */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-bottom: 2rem;
}

.scroll-chevron {
  display: inline-block;
  width: 2vw; /* Doubling width for 2x size */
  height: 2vw; /* Doubling height for 2x size */
  border-left: 3px solid white; /* Doubling border width for 2x size */
  border-bottom: 3px solid white; /* Doubling border width for 2x size */
  transform: rotate(-45deg); /* Rotate in the opposite direction to form a V */
  margin-bottom: 20px; /* Doubling margin for 2x size */
}

.scroll-text {
  color: white;
  font-size: 2vw; /* Doubling font size for 2x size */
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .intro {
    text-align: center;
    width: 100%;
  }

  .title {
    font-size: 5rem;
  }

  .header {
    font-size: 3rem;
  }

  .desc_club {
    font-size: 2rem;
  }

  .scroll-container {
    display: none;
  }
  .intro-section {
    padding-top: 0vh; /* Push content down by 40% of the viewport height */
  }

  .placements {
    padding-top: 5rem;
  }
}

@media screen and (max-height: 650px) {
  .scroll-container {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    text-align: center;
  }

  .title {
    font-size: 3rem;
  }

  .header {
    font-size: 2rem;
  }

  .desc_club {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 430px) {
  .intro {
    text-align: center;
  }

  .title {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  .header {
    font-size: 2rem;
  }

  .desc_club {
    font-size: 1.2rem;
  }
}

/* Code Box */
.overlap-group8 {
  align-items: flex-start;
  background-image: url(../img/rectangle-3.png);
  background-size: 100% 100%;
  display: flex;
  height: 430px;
  margin-left: 15%;
  width: 70%;
  padding: 44px 35px;
  transform: translateY(20%); /* Move the div 50% down */
}

.class-png-def-__ini {
  color: var(--text-primary);
  font-family: "Courier New", monospace;
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 430px;
  width: 100%;
  padding-bottom: 100px;
}

@media (max-width: 1100px) {
  .overlap-group8 {
    display: none;
  }
}

/* About Us */
.about-us {
  text-align: center;
  font-size: 3em;
  color: white;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.pngdesc {
  width: 70%;
  max-width: 80%;
  margin: 0 auto;

  text-align: center;
  font-size: 1.5em;
}

/* Schools */
.schools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 46px;
  margin: auto;
  width: 60%;
  /* max-width: 900px; adjust this value according to your needs */
}

.schools .school_card {
  width: 13rem;
  margin: 20px;
  /* padding-left: 10rem; */
  padding-right: 50px;
}

.school {
  width: 12rem;
  /* padding-left: 1rem; */
}

.NYU {
  width: 11rem;
}

.Columbia {
  width: 13rem;
  padding-left: 0px;
}

.Cornell {
  width: 16rem;
  padding-left: 0px;
  transform: translateX(-30px);
}

/* Sponsors */

.about-sponsors {
  text-align: center;
  font-size: 3em;
  color: white;
  padding-top: 5rem;
  padding-bottom: 2rem;
  /* padding-bottom: 2rem; */
  /* padding-bottom: 0rem; */
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 10px; */
  gap: 46px;
  /* margin-top: 50px; */

  width: 80%; /* set width to 100% */
  margin: 0 auto; /* center the container horizontally */
}

.sponsors .sponsors_card {
  width: 20rem;
  margin-top: 20px;
  padding-right: 50px;
}

.sponsor {
  width: 20rem;
  padding-left: 1rem;
}

@media (max-width: 900px) {
  .sponsor {
    width: 17rem;
    padding-left: 3.5rem;
    padding-top: 2rem;
  }

  .school {
    width: 10rem;
    /* padding-left: 5rem; */
  }

  .schools {
    padding-left: 3.5rem;
  }

  .Columbia {
    width: 10rem;
    padding-left: -30spx;
  }

  .Cornell {
    width: 12rem;
    padding-left: 0px;
    transform: translateX(-15px);
  }
}

/* Education */

.overlap-group4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
  margin-top: 50px;
  width: 50%;
  padding-bottom: 5rem;
}

.currsec {
  text-align: center;
  font-size: 3em;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.currdesc {
  /* width: 70%; */
  /* max-width: 80%; */
  margin: 0 auto;

  /* text-align: center; */
  font-size: 2em;
  padding-bottom: 2rem;
}

.edtitle {
  text-align: center;
  font-size: 7em;
  color: white;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

@media (max-width: 900px) {
  .overlap-group4 {
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 80%;
  }

  .currsec {
    font-size: 3rem;
    margin-top: 30px;
  }

  .currdesc {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
  }

  .edtitle {
    font-size: 4rem;
  }

  .investment-strategy {
    font-size: 4rem;
  }
}

/* Investment Strategy */

.investment-strategy {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 10rem;
}

.overlap-group-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  text-align: center; /* Add this line */
  /* padding-left: 8vw; */
  padding-left: 3rem;
}
.overlap-group {
  height: 503px;
  margin-left: 0px;
  position: relative;
  width: 356px;
  margin-bottom: 3rem;
}

.overlap-group3 {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 12px 28.7px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0.16) 100%
  );
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  min-height: 503px;
  width: 300px;
  gap: 22px;
  position: absolute;
  top: 0;
  left: 0;
}

.factor-portfolio-construction {
  align-self: center;
  height: 81px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 0.55px;
  margin-top: 77px;
  text-align: center;
  width: 224px;
}

.a-factor-portfolio-c {
  letter-spacing: 0;
  line-height: normal;
  min-height: 217px;
  text-align: center;
  width: 240px;
}

.vector {
  height: 46px;
  left: 141px;
  position: absolute;
  top: 52px;
  width: 53px;
}

.overlap-group1 {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 28.7px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0.16) 100%
  );
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  min-height: 503px;
  width: 300px;
  gap: 22px;
  position: absolute;
  top: 0;
  left: 0;
}

.fundamental-analysis {
  align-self: center;
  height: 81px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 0.55px;
  margin-top: 77px;
  text-align: center;
  width: 224px;
}

.students-will-utiliz {
  letter-spacing: 0;
  line-height: normal;
  min-height: 217px;
  text-align: center;
  width: 240px;
}

.magnifying-glass-chart-solid-2 {
  height: 57px;
  left: 152px;
  position: absolute;
  top: 41px;
  width: 54px;
}

.overlap-group2 {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 12px 28.7px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0.16) 100%
  );
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  min-height: 503px;
  width: 300px;
  gap: 22px;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-allocation {
  align-self: center;
  height: 81px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 0.55px;
  margin-top: 77px;
  text-align: center;
  width: 224px;
}

.once-a-select-number {
  letter-spacing: 0;
  line-height: normal;
  min-height: 217px;
  text-align: center;
  width: 240px;
  /* order: 1; */
}

.chart-pie-solid-2 {
  height: 57px;
  left: 149px;
  position: absolute;
  top: 36px;
  width: 54px;
}

@media (max-width: 500px) {
  .investment-strategy {
    font-size: 3rem;
  }

  .overlap-group-container {
    padding-left: 4rem;
    /* align-items: center; */
  }
}

@media (max-width: 400px) {
  .investment-strategy {
    font-size: 3rem;
  }

  .overlap-group-container {
    padding-left: 8vw;
    /* align-items: center; */
  }
}

/* Placements */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(6, 1fr); /* 6 rows */
  gap: 0px;
  width: 80%; /* 80% width of screen */
  /* margin: 0 auto; */
  margin-left: 10%;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
}

@media screen and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(9, 1fr); /* 9 rows */
  }
}
.grid-img {
  max-width: 80%; /* Set the max-width to ensure the image doesn't exceed the width of its container */
  max-height: 100%; /* Set the max-height to ensure the image doesn't exceed the height of its container */
  object-fit: contain; /* Resize the image to fit inside its container without stretching or distorting */
  display: block; /* Remove any default spacing around the image */
  margin: auto; /* Center the image horizontally */
  width: 20rem;
}

.placements {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
  /* margin-bottom: 50px; */
}

@media (max-width: 900px) {
  .placements {
    font-size: 2.5rem;
  }
}

/* Split Screen */

.wrapper {
  margin-bottom: 5px;
  height: 60%;
}

.wrapper .left,
.wrapper .right {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.wrapper .caption {
  position: relative;
  z-index: 10;
  color: #fff;
  text-align: center;
  width: 70%;
}

.subcaption {
  /* existing styles */
  text-align: center; /* Add this line to center-align the subcaption */
  width: 80%;
  margin: 0 auto;
}

.wrapper .side::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 1; */
  content: "";
  display: block;
}

.wrapper .right {
  border-left: white;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    display: flex;
  }

  .wrapper .left,
  .wrapper .right {
    width: 50%;
    height: 80vh;
  }
}

@media screen and (max-width: 800px) {
  .subcaption {
    /* existing styles */
    text-align: center; /* Add this line to center-align the subcaption */
    width: 100%;
    margin: 0 auto;
  }
}

/* Sumamry */

.info_sum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 46px;
  margin: auto;
  width: 80%;
  /* max-width: 900px; adjust this value according to your needs */
}

/* Test Comment */
.section_sum {
  flex: 1;
  text-align: center;
  padding: 0px;
  /* border: 1px solid #ccc; */
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .section_sum {
    flex: 100%;
  }
}

/* Investmetn Fund */

.inv-card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.1rem;
  line-height: 1.2;
  background-color: #212121;
  color: #ddd;
}

ul {
  list-style: none;
}

.main {
  max-width: 75rem;
  padding: 3em 1.5em;
}

.main__heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #eceff1;
}

.cards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.card:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card:nth-child(2) {
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.card__bullets {
  line-height: 1.4;
}

.card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

/* .overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
} */

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

/* Add this to your existing CSS or create a new CSS file */
.learn-more {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.learn-more a {
  text-decoration: none;
  font-size: 24px;
  color: #007bff; /* Adjust the color as needed */
  cursor: pointer;
  transition: color 0.3s;
}

.learn-more a:hover {
  color: #0056b3; /* Change the color on hover if desired */
}

.learn-more .arrow {
  margin-left: 5px;
}
