html{
	background-color: #00182a;
}

h3 {
	/* color: #8aa0ac; */
	color: #eef1f2;

}

h4 {
	color:#eef1f2;
	font-size: 2em;
}

span {
	/* color: #8aa0ac;
	 */
	 color: #8aa0ac;
}

p {
    color: #8aa0ac;
}