/* @import url("https://fonts.googleapis.com/css?family=Belleza"); */
* {
	/* font-family: 'Belleza'; */
	/* font-family: Serif; */
	font-family: 'Montserrat';
	padding: 0;
}

body {
	animation: transitionIn .75s;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}


html{
	background-color: #00182a;
}

h3 {
	/* color: #8aa0ac; */
	color: #eef1f2;

}

h4 {
	color:#eef1f2;
	font-size: 2em;
}

span {
	/* color: #8aa0ac;
	 */
	 color: #8aa0ac;
}

p {
    color: #8aa0ac;
	/* line-height: 190%; */
}

