html, body {
	overflow-x: hidden;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	overflow-x: hidden;
	/* position: fixed; */
	/* overflow-x: hidden;
	position:relative;
  	/* overflow-x:hidden; */
	  overflow-x: hidden;
    overflow-y: scroll !important;
	  
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	/* background: -webkit-linear-gradient(to right, #00182a, #16222A);  */
	/* background: linear-gradient(to right, #00182a, #16222A);  */
	
	background-size: cover;
	min-width: 100%;
	background-position: center center;
	color: #fff;
	overflow: hidden;
	/* position:relative; */
}

.intro{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

span{
	text-align: center;
	width: 60%;
}

h3{
	font-size:1.5em;
	text-align:center;
}

.img_div{
	max-width: 15%;
	max-height: 5%;
	display: flex;
	align-items: center;
}

img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-position: cover;
	max-width: 85%;
	max-height: 85%;
}

img:hover{
	opacity :0.6;
}

.companies{
	align-items: left;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: center;
	width: 90%;
	margin:10px;
    overflow-x: hidden;
}