/* body {
    background: #111;
} */

html, body {
	overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background: #00182a;  
}

.background {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background: #00182a;  
	/* background: -webkit-linear-gradient(to right, #00182a, #16222A);   */
	/* background: linear-gradient(to right, #00182a, #16222A);  */
}

.intro {
    padding: 10rem;
    padding-left: 10rem;
    width: 50%;
    background: #00182a;  
}

h1 {
    /* position: absolute; */
    font-size: 4rem;
}

.title {
    left: 10%;
    top: 30%;
    color: white;
}

.header {
    /* position: absolute; */
    left: 10%;
    top: 42%;
    color: #8aa0ac;
}

p {
    /* position: absolute; */
    padding-top: 2vh;
    left: 10%;
    top: 55%;
    color: #8aa0ac;
    line-height: 130%;
    font-size: 2rem;
}

.home-button {
    /* position: absolute; */
    padding-top: 4vh;
    left: 11%;
    top: 75%;
    /* padding-top: 5vh;
    padding-bottom: 1vh; */
}

.myButton {
    padding-top: 10px;
	background-color:transparent;
	border-radius:2vh;
	/* border:.1vw solid #e85e4f; */
	border:.1vw solid #8aa0ac;
    /* color: #76323F; */
	cursor:pointer;
	color: #8aa0ac;
    /* color:#e85e4f; */
	font-family:Arial;
	font-size:1.5vw;
	padding: 10px 15px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #e85e4f; */
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	/* position:relative; */
	top:1px;
}

ul {
    list-style-type: none;
}

.social {
    position: fixed;
    top: 70%;
    left: 88%;
    
}

.social_link {
    width: 10%;
    height: auto;
}

.logos {
    width: 30px;
    padding: .5rem;
    
}

.insta {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(326deg) brightness(104%) contrast(98%);
}

.link_lists {
    padding: 1vh;
    
}

.verticalLine {
    border-right: thin solid white;
    height: 15vh;
    transform: translate(-2vw, 0);
}


@media screen and (max-width: 700px) {
    .social {
        left: 85%;
    }

    .verticalLine {
        transform: translate(-6vw, 0);
    }

    h1 {
        font-size: 2.2rem;
    }

    .intro {
        padding-top: 6rem;
        padding-left: 1.5rem;
        width: 80%;

    }

    .header {
        padding-top: 1vh;
    }

    p {
        font-size: 1rem;
        
    }

    .myButton {
        font-size:4vw;
        padding: 15px 20px;
    }
    
    .home-button {
        padding-top: 7vh;
    }

    .logos {
        width: 20px;
    }
}




/* navbar */

.nav{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin:10px;
    overflow-x: hidden;
}
.nav span{
	margin-left: 20px;
}

.navbar {
    background: #00182a;
    height: 80px;
    display: flex;
    /* Next two need display: flex
    to work properly */
    justify-content: center;
    align-items: center;
    /* Default is 16 pixels multiples it */
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    /* This makes it so the navbar is always above other items
    in the website */
    z-index: 999;
    /* border-style: solid;
    border-width: thin; */

}

.logo{
	/* font-family: 'Dancing Script',cursive; */
	/* font-size: 24px; */
    width: 550%;
}


/* This is for the specific navbar__container class
This contains all the links in the navbar title bar and
controls their features */
.navbar__container {
    background: #00182a;
    display: flex;
    justify-content: space-between;
    height: 75px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    /* margin/padding: (top right) (bottom left)
    auto completes for bottom left*/
    margin: 0 auto;

}



/* It's # because we placed an id (#) onto the navbar__logo
This is for the singular logo (JS) in this build*/
#navbar__logo {
    padding: 1.2em;
    background: #303340;
    /* Makes the background image have gradient coloring */
    background: #fff;
     /* background-size: 100%; */
     -webkit-background-clip: text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     display: flex;
     align-items: center;
     /* Changes it to a pointer when hovering over it */
     cursor: pointer;
     text-decoration: none;
     font-size: 2rem;
     width: 1rem;
     
}

/* This controls the code for the display of all the links in the
navbar */
.navbar__menu {

    display: flex;
    align-items: center;
    list-style: none;

}

/* This controls the code for the specific items in the navbar__menu */
.navbar__item {
    height: 50px;
}

/* This controls the specific items for the links (a tags) */
.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #808080;
    transition: all 0.3s ease;
}


/* This is for when the screen is being
minimized and it changes the navbar
links to a dashboard */
/* Called a media query */
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        /* padding: -50px; */
        top: 50%;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background-color: #00182a;
    }

    .navbar__menu.active {
        background-color: #00182a;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
        border-style: solid;
        border-width: thin;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;

    }

    .navbar__links {
        text-align: center;
        /* padding: .5rem; */
        width: 100%;
        display: table;
        color: #fff;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
}