html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.wrapper {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background: #00182a;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.who-we-are {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.who-we-are span {
  width: 60%;
  align-items: center;
  text-align: center;
}

.title {
  color: whitesmoke;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}
.card-img {
  border-radius: 5px;
}
.cards .card {
  width: 16rem;
  margin: 20px;
}
.card p {
  font-size: 14px;
}

.active {
  border-bottom: 1px solid #fff;
}

.leadership {
  padding-top: 0;
  align-items: center;
  text-align: center;
}

.card-img1 {
  border-radius: 5px;
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Jay.jpg");
  background-size: cover;
  background-position: center center;
}
.card-img2 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Daniel.jpg");
  background-size: cover;
  background-position: center center;
}
.card-img3 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Erin.jpeg");
  background-size: cover;
  background-position: center center;
}

.card-img4 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Lucas\ Mantovani.jpg");
  background-size: cover;
  background-position: center center;
}
.card-img5 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Raph.jpg");
  background-size: cover;
  background-position: center center;
}
.card-img6 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Brianna.jpg");
  background-size: cover;
  background-position: center center;
}

.card-img7 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Jay.jpg");
  background-size: cover;
  background-position: center center;
}
.card-img8 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Advay.jpg");
  background-size: cover;
  background-position: center center;
}
.card-img9 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Silvia.jpeg");
  background-size: cover;
  background-position: center center;
}

.card-img10 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/john.jpeg");
  background-size: cover;
  background-position: center center;
}

.card-img11 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/jeffrey.jpeg");
  background-size: cover;
  background-position: center center;
}

.card-img12 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/RL.jpeg");
  background-size: cover;
  background-position: center center;
}

.card-img13 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Clara.jpg");
  background-size: cover;
  background-position: center center;
}

.card-img14 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Lucas\ Tucker.JPG");
  background-size: cover;
  background-position: center center;
}

.card-img15 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Anna.jpg");
  background-size: cover;
  background-position: center center;
}
/* Ronak */
.card-img16 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Ronak.jpg");
  background-size: cover;
  background-position: center center;
}

.card-img17 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/Soupy.PNG");
  background-size: cover;
  background-position: center center;
}

/* Bradley */
.card-img18 {
  width: 100%;
  height: 20rem;
  background-image: url("../Headshots/john.jpeg");
  background-size: cover;
  background-position: center center;
}

.linkedin {
  width: 25px;
}

.linkedin:hover {
  filter: invert(27%) sepia(43%) saturate(3570%) hue-rotate(179deg)
    brightness(96%) contrast(89%);
}

.slider {
  display: none;
}

.container2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00182a;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
