ul {
  list-style-type: none; /* Removes the default bullet points */
  padding: 0; /* Removes any default padding */
  margin: 0; /* Removes any default margin */
}

/* Style for list items */
li {
  padding: 10px; /* Adds padding around each list item */
}

/* Style for links inside list items */
li a {
  color: #fff; /* Sets the link color */
  text-decoration: none; /* Removes the default underline */
}
li a:hover {
  /* Adds an underline on hover */
  text-decoration: underline;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c1 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 10pt;
  line-height: 2;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c0 {
  -webkit-text-decoration-skip: none;
  color: #fff;
  font-weight: 400;

  text-decoration-skip-ink: none;
  font-size: 10pt;
  font-family: "Arial";
}
.c9 {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal;
}
.c2 {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Arial";
  font-style: normal;
}
.c7 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 2;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c11 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 2;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c12 {
  -webkit-text-decoration-skip: none;
  color: #fff;
  font-weight: 400;

  text-decoration-skip-ink: none;
  font-family: "Arial";
}
.c3 {
  font-size: 10pt;
  font-family: "Arial";
  font-weight: 700;
}
.c6 {
  font-size: 10pt;
  font-family: "Arial";
  font-weight: 400;
}
.c14 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c5 {
  padding: 0;
  margin: 0;
}
.c8 {
  margin-left: 72pt;
  padding-left: 0pt;
}
.c4 {
  color: inherit;
  text-decoration: inherit;
}
.c10 {
  margin-left: 36pt;
}
.c13 {
  height: 12pt;
}
.title {
  padding-top: 0pt;
  color: #fff;
  font-weight: 300;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Open Sans";
  line-height: 2;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #fff;
  font-weight: 300;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 2;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #fff;
  font-weight: 300;
  font-size: 12pt;
  font-family: "Open Sans";
}
p {
  margin: 0;
  color: #fff;
  font-weight: 300;
  font-size: 12pt;
  font-family: "Open Sans";
}
h1 {
  padding-top: 20pt;
  color: #fff;
  font-weight: 300;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Open Sans";
  line-height: 2;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #fff;
  font-weight: 300;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Open Sans";
  line-height: 2;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #fff;
  font-weight: 300;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Open Sans";
  line-height: 2;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #fff;
  font-weight: 300;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Open Sans";
  line-height: 2;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #fff;
  font-weight: 300;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Open Sans";
  line-height: 2;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #fff;
  font-weight: 300;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Open Sans";
  line-height: 2;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.no-underline a {
  text-decoration: none;
}

.outline {
  padding-left: 5vw;
}
